/* Estilização para o corpo (body) da página */
body {
  /* Adiciona um fundo com gradiente suave de azul claro (#6DC0E4) para azul mais escuro (#3984A3) */
  background: linear-gradient(to bottom, #4B39EF, #EE8B60);

  /* Define a fonte padrão para toda a página */
  font-family: Arial, sans-serif;

  /* Define a cor do texto como laranja escuro (#FF6600) */
  color: #f8f7f7;
  background-attachment: fixed;
}

/* Estilização para os elementos com id 'login' e 'register' */
#login,
#register {
  /* Adiciona uma borda de 2px sólida com cor azul (#3984A3) */
  border: 2px solid #840404;
  color: #f5f3f3;

    background-color: rgb(32, 30, 30); /* Define o fundo como preto */
    /* Outras propriedades de estilo que você desejar para o formulário */
  

  /* Adiciona preenchimento interno de 1.5em na vertical e 2em na horizontal */
  padding: 1.5em 2em;

  /* Define a largura máxima como 33% do espaço disponível */
  max-width: 30%;

  /* Centraliza horizontalmente os elementos com margem de 2em na parte superior e inferior */
  margin: 2em auto;
}

#titulo {
  /* Centraliza o texto horizontalmente */
  text-align: center;
  /* Define a cor do texto como azul escuro (#3984A3) */
  color: #f5f8f8;
}

/* Estilização para os títulos <h2> dentro dos elementos com id 'login' e 'register' */
#login h2,
#register h2 {
  /* Centraliza o texto horizontalmente */
  text-align: center;

  /* Define o tamanho da fonte como 2.1em */
  font-size: 2.1em;

  /* Define a cor do texto como laranja escuro (#FF6600) */
  color: #f8f8f7;

  /* Remove a margem superior padrão para evitar espaçamento indesejado */
  margin-top: 0;
}

/* Estilização para elementos com a classe 'subtitle' */
.subtitle {
  /* Define a fonte em negrito */
  font-weight: bold;

  /* Define a cor do texto como laranja escuro (#FF6600) */
  color: #f4f0f0;

  /* Adiciona uma margem inferior de 1.5em para separar o subtítulo de outros elementos */
  margin-bottom: 1.5em;
}

/* Estilização para formulários dentro dos elementos com id 'login' e 'register' */
#login form,
#register form {
  /* Adiciona espaço vazio na parte inferior do formulário */
  padding-bottom: 1.5em;

  /* Adiciona uma margem vazia na parte inferior do formulário para separá-lo dos outros elementos */
  margin-bottom: 1.5em;

  /* Adiciona uma borda inferior de 2px sólida com cor azul (#3984A3) */
  border-bottom: 2px solid #040505;
}

/* Estilização para parágrafos <p> dentro dos elementos com id 'login' e 'register' */
#login p,
#register p {
  /* Centraliza o texto horizontalmente */
  text-align: center;
}

/* Estilização para hiperlinks <a> dentro de parágrafos <p> dentro dos elementos com id 'login' e 'register' */
#login p a,
#register p a {
  /* Define a fonte em negrito */
  font-weight: bold;

  /* Define a cor do texto como azul */
  color: #2a0997;
}