#edit-profile {
  border: 1px solid #363636;      /* Borda com cor e espessura */
  background-color: #000;         /* Cor de fundo preta */
  padding: 1.5em 2em;             /* Espaçamento interno superior/inferior e direita/esquerda */
  max-width: 40%;                 /* Largura máxima do elemento */
  margin: 2em auto 4em;           /* Margem superior, inferior (aumentada para criar espaço) e centralização horizontal */
  text-align: center;             /* Alinhamento de texto ao centro */
  color: #ccc;
  min-height: calc(100vh - 50px); /* Subtrai a altura do Footer */
  width: 100%; /* Preenche toda a largura disponível */
}

.subtitle {
  color: #ccc;                    /* Cor do texto cinza claro */
}

.profile-image {
  width: 150px;                   /* Largura da imagem de perfil */
  height: 150px;                  /* Altura da imagem de perfil */
  border-radius: 50%;             /* Borda circular para criar uma imagem de perfil arredondada */
  margin-bottom: 1em;             /* Margem inferior para distância entre a imagem e outros elementos */
}
